<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>

	</startup>
	<connectionStrings>
		<add  name="school_data_base" connectionString="server=localhost;user id=root;password=admin;database=db_primary"/>
	</connectionStrings>
	<appSettings>
		<add key="TelerikWinFormsThemeName" value="Material" />
		<add key="ClientName" value="SOFT EDUCATION"/>
		<add key="ClientCode" value="534F465420454455434154494F4E"/>
		<add key="ClientContact" value="Tel. (237) 243 23 23 23 / 698 96 80 98 / 677 55 44 41 ; E-mail : infosofteducatio@.net"/>
		<add key="ClientWebSite" value="www.softeducation.net"/>
		<add key="ClientAddress" value="Douala-Nyalla (Total Nkolbong-Centre de visite Technique Automobile)"/>
		<add key="ClientLogo" value="C:\Users\HP\source\repos\ShoolAppPrimary\SchoolApp\Image\logo.png"/>
		<add key="SudentPictureFolder" value="C:\Users\HP\Pictures\student"/>
		<add key="EmployeePictureFolder" value=""/>
	</appSettings>
</configuration>