<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>

	</startup>
	<connectionStrings>
		<add  name="school_data_base" connectionString="server=localhost;user id=root;password=admin;database=db_primary_em"/>
	</connectionStrings>
	<appSettings>
		<add key="TelerikWinFormsThemeName" value="Material" />
	</appSettings>
</configuration>